<section class ="s-block">
	<div class="container">
		<div class="text-center py-2 w-full mb-2 flex flex-col justify-center items-center md:gap-6 gap-4">
          <h1 class=" shamelBold md:text-[58px] md:leading-20 leading-14  md:w-[60%] w-full text-[40px]">{{component.title}}</h1>
          <div class="line"></div>

        </div>
		<div class="flex flex-col justify-center items-center store-features  rounded-3xl p-5">
			
			<div class="grid grid-cols-2 lg:grid-cols-4  gap-6 mt-8">
				{% for link in component.brand %}
					<div class="flex flex-col justify-center w-full items-center md:max-h-[180px]  max-h-[120px]">
							<img src="{{link.image}}" class="object-contain w-full h-full" />
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>