<div id="animated-ads" class="animated-ads">
	<div class="content">
		<a href="{{component.url}}">
			<img class="object-fill w-full h-full" src="{{component.image}}"/>
		</a>
	</div>
	<div id="btn-open" style=" background-color: {{component.background_color_elan}}">

		<div class="arrow">
			<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewbox="0 0 59 52" fill="none">
				<path d="M41.5105 42.5657L41.6191 9.51637C41.6224 8.52509 40.4485 7.96772 39.6438 8.57897L18.0646 25.0329C17.4469 25.5038 17.4439 26.4146 18.0585 26.8947L39.529 43.4901C40.3297 44.1066 41.5072 43.557 41.5105 42.5657Z" fill="white"/>
			</svg>
		</div>

		<div class="text">
			<span class="shamelBold md:text-[25px] text-lg  " >{{component.offer}}</span>
		</div>

	</div>
</div>
