<div class= " s-block container" style="overflow:hidden">
  <div class="flex flex-col items-center justify-center gap-2 mb-5 text-black">
    <h2 class="shamelBold md:text-[64px] leading-12 text-[45px]">{{component.title}}</h2>
    <h4 class="shamelBold md:text-[45px] text-[30px]  leading-14 md:w-[50%] text-center">{{component.subtitle}}</h4>
  </div>
    
  <div id="map-content">
    <div id="map-new">{{component.map}}</div>
  </div>
</div>


