<section class="s-block s-block--fixed-banner s-block--double-banner wide-placeholder double-banner double-banner--5">
	<div class="container">
			<a href="{{component.url}}" class="w-full h-full block">
				<img style="width: 100%; height:100%;"  src="{{component.image}}" loading="lazy" data-ll-status="loaded">
		</a>
	</div>
</section>
