{#
| Variable        | Type  | Description                                                     |
|-----------------|-------|-----------------------------------------------------------------|
| payment_methods | array | List of active payments ex: [mada, credit_card, bank (Bank transfer (Transfer receipt)), cod (Cash On Delivery), ...] |
#}
<ul class="flex justify-center items-center flex-wrap rtl:space-x-reverse gap-4">
    {#    Made in KSA certificate# #}
    {% if store.settings.made_in_ksa %}
        <li class="w-12 h-8 bg-white rounded flex items-center p-1">
            <img class="lazy object-contain max-h-full"  width="100%" height="100%" decoding="async" loading="lazy" src="{{ 'images/made-in-ksa.svg' | cdn }}" alt="made in KSA certified">
        </li>
    {% endif %}
    {% for method in payment_methods %}
        <li class="w-20 bg-white rounded-lg">
            <img class="lazy object-contain max-h-full" width="100%" height="100%" src="{{ 'images/s-empty.png' | asset }}" data-src="{{ ('images/payment/'~ method ~'_mini.png') | cdn }}" alt="{{ method }}">
        </li>
    {% endfor %} 
    


</ul>




